* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #94859c;
    color: #e4d1cb
}

.App {
    display: flex;
    justify-content: center;
}

h1,
h2,
h4 {
    font-family: 'Press Start 2P', cursive;
}

p,
label {
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.MuiButton-contained {
    font-family: 'Inder', sans-serif !important;
    font-size: 1.3rem !important;
    padding: 0.3rem 1.5rem !important;
    background-color: #c68571 !important;
    color: #e8ded6 !important;
}

.MuiButton-contained.Mui-disabled {
    background-color: #c8a195 !important;
}

nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .MuiButton-contained {
        font-size: 1.1rem !important;
    }
}