.shrimp {
    display: flex;
    justify-content: center;
    min-height: 250px;

    div {
        max-width: 500px;
        max-height: 500px;
        margin-left: -9rem;
    }

    h1 {
        margin-left: -10rem;
        margin-top: 4rem;
    }
}

.pet nav {
    margin-top: -2rem;
}

.pop-up {
    background-color: rgba(46, 38, 54, 0.7);
    padding: 2rem;
    border-radius: 25px;
}